@import '../styles/variables.scss';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
  background-color: $black;
  color: $white;
  font-family: var(--font-merriweather-bold);
}

@media (max-width: 768px) {
  html,
  body {
    overflow: hidden;
  }
}

body {
  display: flex;
  flex-direction: column;
}

a {
  color: inherit;
  text-decoration: none;
}
