// Colors
$black: #000000;
$white: #F0F0F0;
$beige: #EECAA2;

// Typography
$font-libre-baskerville: 'Libre Baskerville', serif;
$font-merriweather: 'Merriweather', serif;

// Spacing
$spacing-xs: 0.5rem;
$spacing-sm: 1rem;
$spacing-md: 2rem;
$spacing-lg: 4rem;
$spacing-xl: 6rem;

// Breakpoints
$breakpoint-mobile: 480px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;
$breakpoint-large: 1440px;
